@charset "utf-8";
/* CSS Document */


#header_navbar nav {
    font-weight: bold;
    background-color: #ffffff;
    border-color: #ffffff;
    opacity: 1.0;
}

#header_navbar nav a {
    color:#0066cc;
    text-align:center;
}

#header_navbar nav a:before,
#header_navbar nav a:after {
    content: "";
    width: 0;
    height: 2px;
    background: #0066cc;
    position: absolute;
    top: 70%;
    left: 50%;
    transition: all .8s;
}

#header_navbar nav a:hover {
	background-color: #CCCCCC;
    color: #0066cc;
}

#header_navbar nav a:hover:before {
	left: 1em;
    width: calc(50% - 1em);
    color: #0066cc;
}

#header_navbar nav a:hover:after {
	left: 50%;
    width: calc(50% - 1em);
    color: #0066cc;
}

#button_navbar .icon-bar {
    background-color: #efefef;
}

#button_navbar {
    border-color: #A2A2A2;
    background-color: #A2A2A2;
}

#button_navbar:hover,
#button_navbar:focus {
    border-color: #C4C4C4;
    background-color: #C4C4C4;
}


.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #CCCCCC; }

body {
	background-color: #242d40;
	color: #000;
	line-height: 1.5em;
	margin: 0px;
	font-family: 'Lato', sans-serif;
    font-weight: 500;
	font-size:15px;

    width: 100%;
    height: 100%;

    max-width: 100%;
    overflow-x: hidden;
}

p {
	padding-left: 20px;
}


#container {
	background-color: #FFF;
	margin-left: 8%;
    margin-right: 8%;
	margin-top: 100px;
	margin-bottom: 0px;
	width: 84%;
	padding: 0px 0px 30px 0px;
}

#contact {
    padding-top: 6pt;
}

#contact li i {
    color: #0066cc;
}

#contact li a {
	text-decoration:none;
    color: #0066cc;
}

#contact li a:hover {
	text-decoration:none;
    color:#F90;
	text-decoration:underline;
}

#home #photo {
	float:left;
	margin-left:20px;
	margin-top:20px;
}

#intro{
    top: 30px;
	float: left;
	padding: 0px 0px 0px 15px;
	width: 75%;
    margin-top: 10px;
}

#intro #name {
	padding:0px 0px 0px 0px;
}

#intro #name h1 {
	font-weight: 600;
}

#intro p {
	margin-left:0px;
	margin-top:0px;
	margin-bottom:0px;
	padding:0px 0px 0px 0px;

	overflow:hidden;
}

#intro p a {
	margin-left:0px;
	margin-top:0px;
	margin-bottom:0px;
	text-decoration:none;
    word-break:keep-all;
    word-wrap:break-word;
    color: #0066cc;
}

#intro p a:hover {
	margin:0px;
	color:#F90;
	text-decoration:underline;
}


#clear {
	clear: both;
}


#bio {
	margin:2%;
	padding-top:20px;
}

#bio h2 a {
    font-weight: 600;
    color:#000;
	text-decoration:none;
}

#bio h2 a:hover {
    font-weight: 600;
    color:#000;
	text-decoration:none;
}

#bio p a {
    font-weight: 600;
	text-decoration:none;
    color: #0066cc;
}

#bio p a:hover {
    font-weight: 600;
	color:#F90;
	text-decoration:underline;
}

#manuscripts{
	margin:2%;
	padding-top:20px;
}

#manuscripts h2 a {
    font-weight: 600;
    color:#000;
	text-decoration:none;
}

#manuscripts .abstract{
    margin:20px;
	padding-top:20px;
    display:none;
}

#manuscripts h2 a:hover {
    font-weight: 600;
    color:#000;
	text-decoration:none;
}

#manuscripts p .demos {
    font-weight: 600;
    color:#FFF;
	text-decoration:none;
    background-color:#3cc48d;
    border-style:none;
}

#manuscripts p a:hover {
	color:#F90;
	text-decoration:underline;
}

#publications{
	margin:2%;
	padding-top:20px;
}

#publications h2 a {
    font-weight: 600;
    color:#000;
	text-decoration:none;
}

#publications h2 a:hover {
    font-weight: 600;
    color:#000;
	text-decoration:none;
}

#publications h4 a {
    font-weight: 600;
    color:#000;
	text-decoration:none;
  padding-left: 5pt;
}

#publications h4 a:hover {
    font-weight: 600;
    color:#000;
	text-decoration:none;
  padding-left: 5pt;
}

#publications p a{
	text-decoration:none;
}

#publications p a:hover {
	color:#F90;
	text-decoration:underline;
}

#publications p .preprint {
    font-weight: 600;
    color:#FFF;
	text-decoration:none;
    background-color:#339966;
    border-style:none;
}

#publications p .demos {
    font-weight: 600;
    color:#FFF;
	text-decoration:none;
    background-color:#3cc48d;
    border-style:none;
}

#presentations{
	margin:2%;
	padding-top:20px;
}

#presentations h2 a {
    font-weight: 600;
    color:#000;
	text-decoration:none;
}

#presentations h2 a:hover {
    font-weight: 600;
    color:#000;
	text-decoration:none;
}

#presentations p a{
	text-decoration:none;
    background-color:#339999;
}

#presentations p a:hover {
	color:#F90;
	text-decoration:underline;
}

#working {
	margin:2%;
	padding-top:20px;
}

#working h2 a {
    font-weight: 600;
    color:#000;
	text-decoration:none;
}

#working h2 a:hover {
    font-weight: 600;
    color:#000;
	text-decoration:none;
}

#working p a{
    font-weight: 600;
	text-decoration:none;
    color: #0066cc;
}

#working p a:hover {
    font-weight: 600;
	color:#F90;
	text-decoration:underline;
}

#teaching {
	margin:2%;
	padding-top:20px;
}

#teaching h2 a {
    font-weight: 600;
    color:#000;
	text-decoration:none;
}

#teaching h2 a:hover {
    font-weight: 600;
    color:#000;
	text-decoration:none;
}

#acknowledgments {
	margin:2%;
	padding-top:20px;
}

#acknowledgments h2 a {
    font-weight: 600;
    color:#000;
	text-decoration:none;
}

#acknowledgments h2 a:hover {
    font-weight: 600;
    color:#000;
	text-decoration:none;
}

#list {
	list-style-image:url(img/dot.png);
}

#list li a{
	color:#069;
	text-decoration:none;
    color: #0066cc;
}

#list li a:hover {
	color:#F90;
	text-decoration:underline;
}


#footer {
    margin:0 auto;
    text-align:center;
}

#footer i{
	font-size: 110%;
	background-color:#242d40;
	padding-top: 0px;
	padding-bottom: 30px;
	color:#069;
}

.btn-circle-scroll {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

.btn-circle {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    padding: 5px 16px;
    border: 4px solid #000;
    border-radius: 25%;
    font-size: 40px;
    color: #fff;
    background-color:#27408B;
}

.btn-circle:hover {
    color: #fff;
    background: rgba(72, 118, 255, 0.7);
}

.btn-circle:focus {
    color: #fff;
}

#clustrmaps-widget{
    margin:0 auto;
}
